.appointmentField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pad-s);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--pad-s);
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-divider);
  margin-top: var(--pad-s);
}

.option {
  color: var(--color-divider);
  white-space: pre;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}