form {
    border: 2px solid #282c34;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: none;
}