.container {
  flex-grow: 2;
  flex-basis: 200px;
}

.header {
  display: flex;
  justify-content: center;
}

.swimlane {
  display: flex;
  flex-direction: column;
  border-left: gray 1px solid;
}

.unit:first-child {
  border-top: none;
}

.unit {
  border-top: 1px solid #eeeeee;
}